.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
    overflow: auto;
    margin: 0 auto;
    
  }
  
  .modal-dialog {
    max-width: 30%; 
    max-height: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    padding: 20px;
  }
  
  
  .modal-title {
    font-size: 1.5rem;
    margin: 0;
  
  }
  
  .modal-body {
    text-align: center; 
    
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    background-color: rgb(145, 75, 75);
  }
  
  .btn-danger {
    
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  
  img{
    height: 150px;
    width: 150px;
  }
  