<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a href="#" class="logo"> <img src="assets/logo2.png" style="height:75%; width: 30%;" alt="logo">
        <span style="color: green; font-weight: bold;"> Mega</span>
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class='bx bxs-home' style="color: orange; font-size: 45px;"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Buy Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/about'">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
  
        </ul>
        <div class="green d-flex d-lg-none">
            <div class="icon"><a href="#"><i class='bx bx-user'></i></a></div>
            <div class="icon"><a href="#"><i class='bx bxs-user-detail'></i></a></div>
            <div class="icon"><a href="#"><i class='bx bx-cart-add'></i></a></div>
          </div>
      </div>
  <div class="green d-lg-flex d-none">
      <div class="icon"><a href="#"><i class='bx bx-user'></i></a></div>
      <div class="icon"><a href="#"><i class='bx bxs-user-detail'></i></a></div>
      <div class="icon">
        <i routerLink="cart-page"class='bx bx-cart-add' style="color:white;size: 10px;cursor: pointer;">&nbsp;{{cartitems}}</i>
    </div>
    </div>
      
  
      <!-- Icons for mobile -->
     
    </div>
    
  </nav>
  