*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.whole{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#000;
 overflow: hidden;
}

.box{
    position: relative;
    width:150px;
    height:150px;
    transform-style: preserve-3d;
    animation: animate 0s linear infinite;
    
    /* transform: perspective(1000px) rotateY(${this.currentImageIndex * (360 / this.maxImages)}deg); */

}
@keyframes animate{
    0%{
        transform: perspective(1000px)rotateY(0deg);

    }
    100%{
        transform: perspective(1000px)rotateY(360deg);

    }
}

.box span{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*30deg))translateZ(400px);
    -website-box-reflect: below 0px  linear-gradient(transparent,transparent, #0004);
}

.box span img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /* object-fit: cover; */
    /* border-radius: 50%; */
}



.previous-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 2;
  }
  
  .previous-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  
  /* Add a hover effect for the buttons */
  .previous-btn:hover, .next-btn:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .image-hover-effect {
    transition: transform 0.5s ease;
  }
  
  .image-hover-effect:hover {
    transform: scale(1.2); /* You can adjust the scale factor as needed */
  }