

<div class="whole ">
    <!-- <h1 style="color: yellow;margin-left: -150px;">Fry Masala</h1> -->
    <button class="previous-btn" (click)="previousImage()" style="font-size: 35px; margin-top: 200px;"><i class='bx bxs-chevrons-left'></i></button>


<div class="box" style=" margin-top: 380px;">

    <span style="--i:1"(click)="openModal('./assets/biryani-masala-removebg-preview.png') "data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/biryani-masala-removebg-preview.png" class="image-hover-effect"></span>
    <span style="--i:2" (click)="openModal('./assets/fish-curry-masala-removebg-preview.png')"data-bs-toggle="modal" data-bs-target="#myModal" ><img src="./assets/fish-curry-masala-removebg-preview.png" class="image-hover-effect"></span>
    <span style="--i:3"(click)="openModal('./assets/chettinadu-chicken-biryani-masala-removebg-preview.png')"data-bs-toggle="modal" data-bs-target="#myModal" ><img src="./assets/chettinadu-chicken-biryani-masala-removebg-preview.png" class="image-hover-effect"></span>
    <span style="--i:4" (click)="openModal('./assets/chicken-fry-masala-removebg-preview.png')"data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/chicken-fry-masala-removebg-preview.png" class="image-hover-effect"></span>
    <span style="--i:5" (click)="openModal('./assets/chilli-powder-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/chilli-powder-removebg-preview.png" class="image-hover-effect"></span>
    <span style="--i:6" (click)="openModal('./assets/idly-chilli-powder-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/idly-chilli-powder-removebg-preview.png" class="image-hover-effect"></span>
    <span style="--i:7" (click)="openModal('./assets/garam-masala-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/garam-masala-removebg-preview.png" class="image-hover-effect"></span>
    <span style="--i:8" (click)="openModal('./assets/idicha-sambar-powder-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/idicha-sambar-powder-removebg-preview.png" class="image-hover-effect"></span>
    <span style="--i:9" (click)="openModal('./assets/fish-curry-masala-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/fish-curry-masala-removebg-preview.png" class="image-hover-effect"></span>
    <span style="--i:10"(click)="openModal('./assets/coriander-powder-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/coriander-powder-removebg-preview.png" class="image-hover-effect"></span> 
    <span style="--i:11"(click)="openModal('./assets/coriander-powder-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/coriander-powder-removebg-preview.png" class="image-hover-effect"></span>
     <span style="--i:12"(click)="openModal('./assets/chicken-65-masala-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/chicken-65-masala-removebg-preview.png" class="image-hover-effect"></span> 
     <span style="--i:13"(click)="openModal('./assets/chettinadu-chicken-biryani-masala-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/chettinadu-chicken-biryani-masala-removebg-preview.png" class="image-hover-effect"></span>  
     <span style="--i:14"(click)="openModal('./assets/biryani-masala-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/biryani-masala-removebg-preview.png" class="image-hover-effect"></span>  


</div>

<button class="next-btn" (click)="nextImage() "style="font-size: 35px;  margin-top: 200px;"><i class='bx bxs-chevrons-right' style='color:#ffffff'></i></button>
</div>

<!-- <app-image-modal [selectedImageSrc]="selectedImageSrc" (closeModalEvent)="closeModal()"></app-image-modal> -->


<app-modal [selectedImageSrc]="selectedImageSrc" (closeModalEvent)="closeModal()"></app-modal>






<!-- second carousel -->




<div class="whole ">
    <!-- <h1 style="color: yellow;margin-left: -150px;">Fry Masala</h1> -->
    <button class="previous-btn" (click)="previousImage()" style="font-size: 35px; margin-top: 200px;"><i class='bx bxs-chevrons-left'></i></button>


<div class="box" style=" margin-top: 380px;">

    <span style="--i:15"(click)="openModal('./assets/biryani-masala-removebg-preview.png') "data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/biryani-masala-removebg-preview.png" class="image-hover-effect"></span>
    <span style="--i:16" (click)="openModal('./assets/fish-curry-masala-removebg-preview.png')"data-bs-toggle="modal" data-bs-target="#myModal" ><img src="./assets/fish-curry-masala-removebg-preview.png" class="image-hover-effect"></span>
    <span style="--i:17"(click)="openModal('./assets/chettinadu-chicken-biryani-masala-removebg-preview.png')"data-bs-toggle="modal" data-bs-target="#myModal" ><img src="./assets/chettinadu-chicken-biryani-masala-removebg-preview.png" class="image-hover-effect"></span>
    <span style="--i:18" (click)="openModal('./assets/chicken-fry-masala-removebg-preview.png')"data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/chicken-fry-masala-removebg-preview.png" class="image-hover-effect"></span>
    <span style="--i:19" (click)="openModal('./assets/chilli-powder-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/chilli-powder-removebg-preview.png" class="image-hover-effect"></span>
    <span style="--i:20" (click)="openModal('./assets/idly-chilli-powder-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/idly-chilli-powder-removebg-preview.png" class="image-hover-effect"></span>
    <span style="--i:21" (click)="openModal('./assets/garam-masala-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/garam-masala-removebg-preview.png" class="image-hover-effect"></span>
    <span style="--i:22" (click)="openModal('./assets/idicha-sambar-powder-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/idicha-sambar-powder-removebg-preview.png" class="image-hover-effect"></span>
    <span style="--i:23" (click)="openModal('./assets/fish-curry-masala-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/fish-curry-masala-removebg-preview.png" class="image-hover-effect"></span>
    <span style="--i:24"(click)="openModal('./assets/coriander-powder-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/coriander-powder-removebg-preview.png" class="image-hover-effect"></span> 
    <span style="--i:25"(click)="openModal('./assets/coriander-powder-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/coriander-powder-removebg-preview.png" class="image-hover-effect"></span>
     <span style="--i:26"(click)="openModal('./assets/chicken-65-masala-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/chicken-65-masala-removebg-preview.png" class="image-hover-effect"></span> 
     <span style="--i:27"(click)="openModal('./assets/chettinadu-chicken-biryani-masala-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/chettinadu-chicken-biryani-masala-removebg-preview.png" class="image-hover-effect"></span>  
     <span style="--i:28"(click)="openModal('./assets/biryani-masala-removebg-preview.png')" data-bs-toggle="modal" data-bs-target="#myModal"><img src="./assets/biryani-masala-removebg-preview.png" class="image-hover-effect"></span>  


</div>

<!-- <button class="next-btn" (click)="nextImage() "style="font-size: 35px;  margin-top: 200px;;"><i class='bx bxs-chevrons-right' style='color:#ffffff'></i></button> -->
<button class="next-btn" (click)="nextImage()" style="font-size: 35px; margin-top: 200px;">
    <i class='bx bxs-chevrons-right' style='color:#ffffff'></i>
</button>

</div>
<!-- <app-image-modal [selectedImageSrc]="selectedImageSrc" (closeModalEvent)="closeModal()"></app-image-modal> -->


<app-modal [selectedImageSrc]="selectedImageSrc" (closeModalEvent)="closeModal()"></app-modal>